:root{
    --background-color:rgb(211, 147, 147);
    --text-color:#fff;
}

html{
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    color: rgb(27, 26, 26);
}
*, *::after, *::before{
    box-sizing: inherit;
}
body{
    margin: 0;
    font-family: '', sans-serif;
}
.container{
    max-width: 1100px;
    margin: 0 auto;
}
.header{
    min-height: 740px;
    background-image: url(/img/4статья\ 3\ обложка.jpg);
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(/img/4статья\ 3\ обложка.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;   
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_title{
    padding-top: 20px;
    margin-bottom: 112px;
    color:#fff;
    z-index: 2;
}
.h1{
    font-weight: 500;
    font-size: 90px;
    text-align: center;
    line-height: 95px;
    margin: 0 auto;
    max-width: 735px;
    color: var(--text-color);
}
.h4{
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    line-height: 95px;
    margin: 0 auto;
    max-width: 735px;
    color: var(--text-color);
}
.second{
    background-color: rgb(3, 3, 3);
    height: 300;
    display: flex;
    justify-content: center; /*Центрирование по горизонтали*/
    align-items: center;     /*Центрирование по вертикали */
    color: rgb(235, 225, 225);
}
.row{
    margin: 0 auto;
}
.third{
    margin-top: -90px;
}
.carousel__text{
    margin-top: 40px;
}
.map{
    display: flex;
    justify-content: center;
    align-items: center;
}